{% extends 'manicure\index.html' %}
{% load static %}



{% block about %}
<div class="container-fluid">
<div class="row justify-content-around">
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 my-auto text-center">
		<img id="photo-about" src="{{ STATIC_URL }}{{ about.image.url }}" class="img-fluid rounded-circle" alt="...">
		<h5 style="color: black">Мастер маникюра</h5>
	</div>

	<div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 my-auto">
		<p class="display-4 myata">Ольга Шахназарова</p>
		<h4 class="text-muted">Какой же был профессиональный путь?!</h4>

		<p class="lead"><em> {{ about.text }}</em></p>
	</div>
</div>

</div>
{% endblock about %}




<!-- Прайс лист -->
{% block pricelist %}
<div class="container-fluid" id="pricelist">
	<h1 class="text-center display-4 mb-5 mt-5">Цены</h1>
	<div class="row">
        {% for item in priceparts %}
	<div class="col-xl col-lg col-md col-sm col">
    <ul class="list-group" id="pricegroup">
        <li class="list-group-item d-flex justify-content-between align-items-center myata-bg">{{ item.part_price }}</li>
        {% for j in item.get_items %}
        <li class="list-group-item d-flex justify-content-between align-items-center">{{j.title}}
        <span class="badge badge-primary badge-pill bg-dark">{{j.price}} P</span>
        </li>
        {% endfor %}
    </ul>
	</div>
        {% endfor %}
    </div>
</div>
{% endblock pricelist %}



{% block feeds %}
<section class="testimonials text-center bg-white">
  <div class="container">
    <h1 id="mention" class="display-4 pb-5 mb-5 mt-5 text-center">Что говорят клиенты</h1>

        <div class="xxx">
            {% for i in all_feeds %}
            <div>
          <img class="img-fluid rounded-circle mb-3" id="photo-clients" src="{{ STATIC_URL }}{{ i.photo.url }}" alt="">
          <h5 class="myata">{{ i.name }}</h5>
          <p class="font-weight-light mb-0">"{{ i.text }} "</p>
            </div>
      </div>
        {% endfor %}
  </div>
  </div>
</section>

{% endblock feeds %}


{% block gallery %}
<!-- Галерея -->
<div id="part-gallery">
<div class="slick-slider">
    {% for i in all_gallery %}
 	<div><img id="gallery-photo" class="d-block w-100" src="{{ STATIC_URL }}{{ i.photo.url }}" alt="Первый слайд"></div>
    {% endfor %}
</div>
</div>
{% endblock gallery %}



{% block formi %}
<!-- Блок записи на процедуру -->
<div class="container mt-5 contact mb-5" style="height: 300px;">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 d-flex align-items-center">
            <div class="contact-info">
                <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
                <h2>Contact Us</h2>
                <h4>We would love to hear from you !</h4>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 offset-md-1">
            <form class="mt-4 mt-md-0" action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">

                        <label for="{{ field.label }}"> {{ field.label }} </label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="form-group text-center">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock formi%}
